body{
background:#0b0b0b;
font-family:Segoe UI;
}

/* MAIN LAYOUT */

.hero-layout{
display:flex;
}

/* LEFT PROFILE */

.left-fixed{
/* position:fixed; */
left:80px;
top:120px;
}
.hero-container{
  margin-top: 90px;
}
.profile-container{
height:550px;
width:410px;
background:white;
text-align:center;
border-radius:20px;
padding-top:20px;
}

.pro-img{
height:284px;
width:260px;
background:#cf2e06d7;
border-radius:15px;
}

.bio-name{
font-weight:900;
margin-top:20px;
}

.bio-descriptions{
color:#6A6B6E;
font-size:18px;
margin:20px;
}

.favIcon-container{
display:flex;
gap:20px;
justify-content:center;
margin-top:40px;
}

.icons{
color:#F46C38;
font-size:23px;
}
.soft{
font-size:120px;
font-weight:800;
color:white;
line-height:0.9;
}
.engineer{
font-size:120px;
font-weight:800;
color:rgba(255,255,255,0.25);
line-height:0.9;
}
.hero-description{
margin-top:40px;
width:520px;
font-size:18px;
color:#9c9c9c;
}
.exprecience-container{
display:flex;
gap:100px;
margin-top:60px;
}
.exprecience-container h1{
font-size:60px;
color:white;
margin:0;
}
.exprecience-container p{
font-size:14px;
color:#9c9c9c;
margin:0;
}