.white-title{
    font-size:90px;
    font-weight:800;
    color:white;
    line-height:0.9;
}
.grey-title{
    font-size:90px;
    font-weight:800;
    color:rgba(255,255,255,0.25);
    margin-bottom:60px;
}
.tool-icon{
    font-size: 150px;
    background-color: white;
    padding: 10px;
    color: orangered;
}